# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.properties

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
/build/
/.gradle/


# Gradle build files (if not meant for version control)
# NOTE: build.gradle is usually tracked unless it's a specific local override
# If you truly want to ignore it, uncomment the line below.
 build.gradle

# YAML configuration files (if not meant for version control)
# NOTE: *.yml files are often tracked (e.g., Spring Boot application.yml)
# If you truly want to ignore ALL .yml files, uncomment the line below.
 *.yml

